* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding-bottom: 200px;
}


header {
    background-color: azure;
    padding: 20px 0;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul > li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    font-weight: 900;
}

section {
    font-size: 0;
}

section  article {
    font-size: 1rem;
}

article {
    white-space: normal;
}

section.main {
    background-color: beige;
    padding: 2rem 0;
}

.hamburger-icon {
    display: none;
    cursor: pointer;
}

.hamburger-icon div {
    width: 35px;
    height: 5px;
    background-color: grey;
    margin: 6px 0;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.main-container {
    max-width: 1280px;
    margin: auto;
    padding: 0 20px;
}

.m-auto {
    text-align: center;
}

section.ordinary-articles {
    margin-left: -1rem;
    margin-right: -1rem;
}

.col-lg-4 {
    width: 33.33%;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}

article h2 {
    font-size: 2em;
}

article p {
    font-size: 1em;
}




/* Play with the font size of the elements to solve the exercise 1 */
/* Remember, the font size has to be 24px in the paragraph and 48px in the title */

article.main {

}





/* Play with the width to solve the exercise 2 */
@media(max-width: 900px) and (min-width: 600px) {
    .col-md-6 {

    }

    .col-md-12 {

    }
}

@media(max-width: 600px) {
    .col-sm-12 {

    }    
}


/* 3. Create a responsive menu */

